@import "free/mq";
@import "variables";

.forbiden {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: $color-body;
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    width: 100%;
    height: 100%;
    max-width: 1280px;
    padding: 40px 50px;
    background: #f1edea;

    .forbiden__breadcrumbs {
      background: #f1edea;
      .breadcrumb {
        background: #f1edea;
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 2rem;
        @include mq($until: tablet) {
          margin-bottom: 0px;
        }
        .breadcrumb-item .active {
          color: #45413e;
          &::before {
            color: #45413e;
          }
        }
        .breadcrumb-item {
          .breadcrumb-link {
            color: #84bc22;
          }
        }
      }
    }

    .forbiden__title {
      width: 100%;
      display: flex;
      flex-flow: row;
      align-items: center;
      max-width: 1280px;
      margin-bottom: 50px;
      background: #f1edea;
      @include mq($until: tablet) {
        margin-bottom: 0px;
      }
      &-header {
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: $text-primary-family;
        font-size: 50px;
        font-weight: 900;
        background: #f1edea;
        color: #45413e;
        width: 350px;
      }
      &-line {
        border-bottom: 1px solid;
        border-color: #e5e2df;
        width: 100%;
      }
    }

    .forbiden__block {
      background: $color-body;
      width: 100%;
      display: flex;
      flex-flow: row;
      align-items: center;
      justify-content: space-between;
      @include mq($until: medium) {
        flex-flow: row wrap;
      }
      @include mq($until: tablet) {
        justify-content: center;
      }
      .forbiden__description {
        display: flex;
        flex-flow: column;
        width: 720px;
        height: 435px;
        align-items: center;
        padding: 15px 30px;
        justify-content: space-between;
        &-search {
          display: flex;
          flex-flow: column;
          width: 100%;
          &-header {
            font-family: $text-primary-family;
            font-size: 22px;
            font-weight: 800;
            @include mq($until: tablet) {
              font-size: 18px;
            }
          }
          &-block {
            border: 2px solid;
            border-radius: 25px;
            border-color: #e8e2d6;
            padding: 0px 15px;
            max-width: 560px;
            height: 40px;
            display: flex;
            flex-flow: row;
            align-items: center;
            justify-content: space-between;
            
            &-input {
              border: 0px solid;
              width: 100%;
              height: 100%;
              outline: none;
              &::placeholder {
                font-family: $text-primary-family;
                font-size: 13px;
                color: #45413e;
                padding-left: 15px;
                @include mq($until: tablet) {
                  font-size: 10px;
                }
              }
            }
          }
        }

        &-main {
          display: flex;
          flex-flow: column;
          justify-content: space-evenly;
          width: 100%;
          height: 100%;
          &-header {
            max-width: 560px;
            font-family: $text-primary-family;
            font-size: 26px;
            font-weight: 800;
            @include mq($until: tablet) {
              font-size: 18px;
            }
          }
          &-text {
            max-width: 560px;
            font-family: $text-primary-family;
            font-size: 16px;
            font-weight: 600;
            color: #555555;
            @include mq($until: tablet) {
              font-size: 13px;
            }
          }
          &-link {
            max-width: 560px;
            font-family: $text-primary-family;
            font-size: 16px;
            font-weight: 500;
            color: #84bc22;
            @include mq($until: tablet) {
              font-size: 13px;
            }
          }
        }
      }
      .forbiden__image {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        // width: 450px;
        max-width: 450px;
        height: 430px;
        img {
          @include mq($until: medium) {
            width: 80%;
          }
        }
        // &-text {
        //   position: absolute;
        //   font-family: $text-primary-family;
        //   font-size: 100px;
        //   font-weight: 900;
        //   color: #84bc22;
        //   z-index: 1;
        //   top: 130px;
        //   left: 110px;
        //   @include mq($until: tablet) {
        //     left: 0;
        //     font-size: 70px;
        //   }
        // }
      }
    }
  }
}
