@import "free/mq";
@import "variables";

.header {
  display: flex;
  position: relative;
  background-color: $color-body;

  width: 100%;
  height: 62px;

  @include mq($until: tablet) {
    justify-content: center;
    // align-content: flex-end;
    // align-items: stretch;
  }

  @include mq($from: desktop) {
    justify-content: left;
    height: 80px;
    // align-content: flex-end;
    // align-items: stretch;
  }

  .logo {
    margin-top: 10px;
    margin-bottom: 13px;
    text-decoration: none;

    @include mq($from: desktop) {
      display: flex;
      height: 80px;
      margin-left: 60px;
      margin-top: 0px;
      margin-bottom: 0px;
      justify-content: center;
      width: 160px;
      align-items: center;
    }
    .logo-icon {
      width: 46px;
      height: 45px;
      @include mq($from: desktop) {
        width: 60px;
        height: 60px;
      }
    }
    .logo__text {
      display: flex;
      flex-direction: column;
      .logo__text-top {
        display: none;
        font-family: $text-primary-family;
        font-weight: 900;
        font-size: 22px;
        letter-spacing: 6px;
        color: $bg-color-body;
        // text-decoration: none;
        @include mq($from: desktop) {
          display: block;
        }
      }
      .logo__text-bottom {
        display: none;
        font-family: $text-primary-family;
        font-weight: 400;
        font-size: 14px;
        color: $nav-border-color;
        // text-decoration: none;
        @include mq($from: desktop) {
          display: block;
        }
      }
    }
  }

  .nav {
    // display: flex;
    background-color: $bg-color-body;
    padding: 0px;
    top: 62px;
    @include mq($until: tablet) {
      width: 100%;
      position: absolute;
    }

    @include mq($from: desktop) {
      // position: relative;
      top: 0px;
      width: 100%;
      // right: 15px;
      // margin-left: 170px;
      // display: inline-block;
    }
    .nav_list {
      padding: 0px;
      @include mq($from: desktop) {
        display: flex;
        margin: 0px 0px;
        padding-left: 180px;
        width: 100%;
        height: 80px;
        background-color: $color-body;
        top: 0px;
        right: 15px;
        align-items: flex-end;
      }

      .nav__item {
        text-decoration: none;
        list-style-type: none;
        justify-content: center;
        margin-left: 15px;
        @include mq($from: desktop) {
          width: 125px;
          display: flex;
          height: 65px;
        }

        .nav__submenu-contanier {
          @include mq($from: desktop) {
            position: absolute;
            width: 100%;
            top: 80px;
            display: none;
            background-color: $bg-color-body;
            justify-content: space-between;
            left: 0px;
            right: 0px;
          }
          .nav__submenu {
            text-decoration: none;
            list-style-type: none;
            justify-content: center;
            // position: relative;
            padding: 0px;
            margin-left: 20px;
            @include mq($from: desktop) {
              justify-content: space-evenly;
              display: flex;
              width: 65%;
            }

            .nav__submenu-item {
              text-decoration: none;
              list-style-type: none;
              justify-content: center;
              color: $color-body;
              font-family: $text-primary-family;
              font-weight: 600;
              font-size: 13px;
              line-height: 1.3em;
              @include mq($from: desktop) {
                display: flex;
                flex-direction: column;
                line-height: 2em;
                justify-content: flex-start;
              }

              .submenu__product {
                text-decoration: none;
                list-style-type: none;
                justify-content: center;
                padding: 0px;
                margin-left: 30px;

                .nav__submenu-item-link {
                  padding: 0px;
                  line-height: 2.8em;
                }
              }
              .submenu__sale {
                text-decoration: none;
                list-style-type: none;
                justify-content: center;
                padding: 0px;
                margin-left: 30px;
                .nav__submenu-item-link {
                  padding: 0px;
                  margin-top: 3px;
                  margin-bottom: 3px;
                }
              }
            }
          }
          .nav__submenu-image {
            justify-content: center;
            // position: absolute;
            // margin-top: 200px;

            width: 35%;
            // height: 276px;
            @include mq($until: tablet) {
              position: absolute;
              background-color: $bg-color-body;
              top: 707px;
              left: 0px;
              padding-top: 200px;
              display: flex;
              width: 100%;
            }
            .nav__submenu-image-item {
              border-radius: 8px;
              @include mq($until: tablet) {
                margin-bottom: 10px;
                width: 70%;
                margin: 20px 20px;
              }
              @include mq($from: desktop) {
                margin: 60px 60px;
              }
            }
          }
        }
        .nav__item-button {
          display: flex;
          justify-content: center;
          border: none;
          outline: none;
          background-color: $bg-color-body;
          color: $color-body;
          font-family: $text-primary-family;
          font-weight: bold;
          font-size: 15px;
          text-align: center;

          @include mq($until: tablet) {
            justify-content: space-between;
            width: 95%;
            padding: 8px 6px;
          }

          @include mq($from: desktop) {
            background-color: $color-body;
            color: $bg-color-body;
            font-weight: 600;
            width: 100%;
          }
          &-services {
            justify-content: space-around;
          //   @include mq($from: desktop) {
          //     margin-left: 20px;
          // }
        }

          // &.nav__item-button--active {
          //   background-color: $bg-color-body;
          //   color: $color-body;
          //   border-bottom: thick;
          //   border-color: $nav-border-color;
          // }
        }
        .nav__submenu-item-button {
          border: none;
          outline: none;
          background-color: $bg-color-body;
          color: $color-body;
          font-family: $text-primary-family;
          font-weight: bold;
          font-size: 14px;
          padding: 0px;
          @include mq($until: tablet) {
            width: 92.5%;
            display: flex;
            justify-content: space-around;
          }
          @include mq($from: desktop) {
            display: flex;
            .fa {
              display: none;
            }
          }
        }

        &.nav__item--active {
          .nav__submenu-contanier {
            display: flex;
            background-color: $bg-color-body;
          }
          .nav__item-button {
            @include mq($from: desktop) {
              background-color: $bg-color-body;
              color: $color-body;
              border-bottom: 3px solid ;
              border-bottom-color: $nav-border-color;
            }
          }
        }
      }

      // .nav__item--active {
      //   .nav__submenu {
      //   .nav__submenu-contanier {
      //     display: block;
      //   }
      // }
      // }
    }

    // .submenu__image-block {
    //   display: flex;
    //   justify-content: center;
    //   margin-top: 200px;
    //   img {
    //     width: 270px;
    //     height: 276px;
    //     border-radius: 6px;
    //   }
    // }
  }
}
