@import "free/mq";
@import "variables";

body {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  background-color: $bg-color-body;

  .header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: $color-body;

    .header {
      display: flex;
      position: relative;
      background-color: $color-body;
      margin-left: 60px;
      width: 100%;
      max-width: 1280px;
      height: 62px;

      @include mq($until: tablet) {
        justify-content: center;
        // align-content: flex-end;
        // align-items: stretch;
      }

      @include mq($from: tablet) {
        justify-content: left;
        height: 80px;
        // align-content: flex-end;
        // align-items: stretch;
      }

      .logo {
        margin-top: 10px;
        margin-bottom: 13px;
        text-decoration: none;

        @include mq($from: tablet) {
          display: flex;
          height: 80px;
          margin-top: 0px;
          margin-bottom: 0px;
          // justify-content: center;
          // width: 15%;
          align-items: center;
        }
        .logo-icon {
          width: 46px;
          height: 45px;
          @include mq($from: tablet) {
            width: 60px;
            height: 60px;
          }
        }
        .logo__text {
          display: flex;
          flex-direction: column;
          .logo__text-top {
            display: none;
            font-family: $text-primary-family;
            font-weight: 900;
            font-size: 22px;
            letter-spacing: 6px;
            color: $bg-color-body;
            // text-decoration: none;
            @include mq($from: tablet) {
              display: block;
            }
          }
          .logo__text-bottom {
            display: none;
            font-family: $text-primary-family;
            font-weight: 400;
            font-size: 14px;
            color: $nav-border-color;
            // text-decoration: none;
            @include mq($from: tablet) {
              display: block;
            }
          }
        }
      }

      .nav {
        // display: flex;
        background-color: $bg-color-body;
        padding: 0px;
        top: 62px;
        @include mq($until: tablet) {
          width: 100%;
          position: absolute;
        }

        @include mq($from: tablet) {
          // position: relative;
          top: 0px;
          width: 50%;
          // right: 15px;
          // margin-left: 170px;
          // display: inline-block;
        }
        .nav_list {
          padding: 0px;
          @include mq($from: tablet) {
            display: flex;
            margin: 0px 0px;
            padding-left: 140px;
            width: 100%;
            height: 80px;
            background-color: $color-body;
            top: 0px;
            right: 15px;
            align-items: flex-end;
          }

          .nav__item {
            text-decoration: none;
            list-style-type: none;
            justify-content: center;
            margin-left: 15px;
            @include mq($from: tablet) {
              width: 125px;
              display: flex;
              height: 65px;
            }

            .nav__submenu-contanier {
              @include mq($from: tablet) {
                position: absolute;
                width: 100%;
                top: 80px;
                display: none;
                background-color: $bg-color-body;
                justify-content: space-between;
                left: 0px;
                right: 0px;
              }
              .nav__submenu {
                text-decoration: none;
                list-style-type: none;
                justify-content: center;
                // position: relative;
                padding: 0px;
                margin-left: 20px;
                @include mq($from: tablet) {
                  justify-content: space-evenly;
                  display: flex;
                  width: 100%;
                }

                .nav__submenu-item {
                  text-decoration: none;
                  list-style-type: none;
                  justify-content: center;
                  color: $color-body;
                  font-family: $text-primary-family;
                  font-weight: 600;
                  font-size: 13px;
                  line-height: 1.3em;
                  @include mq($from: tablet) {
                    display: flex;
                    flex-direction: column;
                    line-height: 2em;
                    justify-content: flex-start;
                    margin-top: 50px;
                  }

                  .submenu__product {
                    text-decoration: none;
                    list-style-type: none;
                    justify-content: center;
                    padding: 0px;
                    margin-left: 30px;
                    @include mq($from: tablet) {
                      margin-left: 0px;
                      column-count: 3;
                      column-gap: 130px;
                      margin-top: 15px;
                    }

                    .nav__submenu-item-link {
                      padding: 0px;
                      line-height: 2.8em;
                    }
                  }
                  .submenu__sale {
                    text-decoration: none;
                    list-style-type: none;
                    justify-content: center;
                    padding: 0px;
                    // margin-left: 30px;
                    @include mq($from: tablet) {
                      margin-left: 0px;
                      margin-top: 15px;
                    }
                    .nav__submenu-item-link {
                      padding: 0px;
                      margin-top: 3px;
                      margin-bottom: 3px;
                    }
                  }
                }
              }
              .nav__submenu-image {
                justify-content: center;
                // position: absolute;
                // margin-top: 200px;

                width: 35%;
                // height: 276px;
                @include mq($from: tablet) {
                  display: flex;
                  padding: 35px;
                }
                @include mq($until: tablet) {
                  position: absolute;
                  background-color: $bg-color-body;
                  top: 707px;
                  left: 0px;
                  padding-top: 200px;
                  display: flex;
                  width: 100%;
                }
                .nav__submenu-image-item {
                  border-radius: 8px;
                  @include mq($until: tablet) {
                    margin-bottom: 10px;
                    width: 70%;
                    margin: 20px 20px;
                  }
                }
              }
            }
            .nav__item-button {
              display: flex;
              justify-content: center;
              border: none;
              outline: none;
              background-color: $bg-color-body;
              color: $color-body;
              font-family: $text-primary-family;
              font-weight: bold;
              font-size: 15px;
              text-align: center;

              @include mq($until: tablet) {
                justify-content: space-between;
                width: 95%;
                padding: 8px 6px;
              }

              @include mq($from: tablet) {
                background-color: $color-body;
                color: $bg-color-body;
                font-weight: 600;
                width: 100%;
              }
              &-services {
                justify-content: space-around;
                //   @include mq($from: tablet) {
                //     margin-left: 20px;
                // }
              }

              // &.nav__item-button--active {
              //   background-color: $bg-color-body;
              //   color: $color-body;
              //   border-bottom: thick;
              //   border-color: $nav-border-color;
              // }
            }
            .nav__submenu-item-button {
              border: none;
              outline: none;
              background-color: $bg-color-body;
              color: $color-body;
              font-family: $text-primary-family;
              font-weight: bold;
              font-size: 14px;
              padding: 0px;
              @include mq($until: tablet) {
                width: 92.5%;
                display: flex;
                justify-content: space-around;
              }
              @include mq($from: tablet) {
                display: flex;
                .fa {
                  display: none;
                }
              }
            }

            &.nav__item--active {
              .nav__submenu-contanier {
                display: flex;
                background-color: $bg-color-body;
                z-index: 50;
              }
              .nav__item-button {
                @include mq($from: tablet) {
                  background-color: $bg-color-body;
                  color: $color-body;
                  border-bottom: 3px solid;
                  border-bottom-color: $nav-border-color;
                }
              }
            }
          }

          // .nav__item--active {
          //   .nav__submenu {
          //   .nav__submenu-contanier {
          //     display: block;
          //   }
          // }
          // }
        }

        // .submenu__image-block {
        //   display: flex;
        //   justify-content: center;
        //   margin-top: 200px;
        //   img {
        //     width: 270px;
        //     height: 276px;
        //     border-radius: 6px;
        //   }
        // }
      }
    }
  }

  .karousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: $color-body;
    position: relative;
    &-line {
      position: absolute;
      width: 100%;
      background-color: #e8e2d6;
      border: 0px;
      height: 1px;
      margin: 0px;
      margin-bottom: 5px;
      top: 0;
      z-index: 10;
    }

    .karousel {
      display: none;
      @include mq($from: tablet) {
        display: flex;
        justify-content: flex-start;
        width: 100%;
        max-width: 1280px;
        margin-left: 60px;
        position: relative;
        background-color: $color-body;
        max-height: 500px;
      }
      .karousel__banner {
        display: none;
        @include mq($from: tablet) {
          width: 30%;
          margin-top: 25px;
          display: flex;
          flex-direction: column;
          align-items: center;
        }
        .karousel__banner-sale {
          @include mq($from: tablet) {
            height: 330px;
            width: 275px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-left: 15px;
          }
          .karousel__banner-sale-item {
            @include mq($from: tablet) {
              display: flex;
              flex-direction: column;
              justify-content: center;
            }

            .karousel__banner-sale-tex-top {
              @include mq($from: tablet) {
                position: absolute;
                font-family: $text-primary-family;
                font-weight: 900;
                font-size: 82px;
                color: $color-body;
                // left: 1000px;
                top: 50px;
                margin-left: 55px;
              }
            }
            .karousel__banner-sale-tex-bottom {
              @include mq($from: tablet) {
                position: absolute;
                font-family: $text-primary-family;
                font-weight: 500;
                font-size: 24px;
                color: $color-body;
                top: 220px;
                margin-left: 55px;
              }
            }
            .karousel__banner-sale-image {
              border-radius: 8px;
            }
          }
        }
        .karousel__banner-link {
          @include mq($from: tablet) {
            // height: 30%;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 10px;
          }
          .karousel__banner-link-tex-top {
            @include mq($from: tablet) {
              font-family: $text-primary-family;
              font-weight: 500;
              font-size: 18px;
              color: #000;
            }
          }

          .karousel__banner-link-tex-bottom {
            @include mq($from: tablet) {
              font-family: $text-primary-family;
              font-weight: 400;
              font-size: 14px;
              color: #000;
              text-align: center;
              width: 275px;
            }
          }

          .karousel__banner-link-tex-button {
            @include mq($from: tablet) {
              font-family: $text-primary-family;
              font-weight: 400;
              font-size: 14px;
              color: $facebook-color;
              text-align: center;
              margin-top: 10px;
              display: flex;
              justify-content: space-evenly;
              width: 150px;
              height: 40px;
              border: 2px solid;
              border-color: $facebook-color;
              border-radius: 30px;
              background-color: $color-body;
            }
          }
        }
      }
      .section-carousel {
        @include mq($until: tablet) {
          position: absolute;
        }
        @include mq($from: tablet) {
          height: 480px;
          width: 70%;

          margin-top: 25px;
          margin-bottom: 25px;
          margin-right: 5px;
        }

        .carousel-indicators {
          @include mq($from: tablet) {
            top: 400px;
            bottom: 210px;
            margin: 0px;
          }
        }
        .d-block.w-100 {
          @include mq($from: tablet) {
            border-radius: 8px;
            height: 470px;
          }
        }
      }
    }
  }

  .features {
    display: flex;
    flex-direction: row;
    // justify-content: flex-start;
    text-decoration: none;
    list-style-type: none;
    width: 35%;
    .features__item {
      display: flex;
      flex-direction: row;
      // justify-content: flex-start;
      text-decoration: none;
      list-style-type: none;
      .features__item-link {
        display: flex;
        flex-direction: row;
        // justify-content: flex-start;
        align-items: flex-end;
        text-decoration: none;
        list-style-type: none;
        margin: 0px;
        padding: 0px;
        margin-bottom: 25px;
        .features__button {
          border: none;
          outline: none;
          background-color: $color-body;
          color: #5f5c59;
          font-family: $text-primary-family;
          font-weight: 300;
          font-size: 14px;
          padding: 0px;
          width: 50px;
          display: flex;
          justify-content: space-evenly;
        }
        .features__lang {
          display: flex;
          flex-direction: column;
          justify-content: left;
          align-items: flex-end;
          text-decoration: none;
          list-style-type: none;
          margin: 0px;
          padding: 0px;
          margin-right: 25px;
          .features__lang-list {
            display: none;
            flex-direction: column;
            // justify-content: flex-start;
            text-decoration: none;
            list-style-type: none;
            padding: 0px;
            position: absolute;
          }
        }

        .features__currency {
          display: flex;
          flex-direction: column;
          justify-content: left;
          align-items: flex-start;
          text-decoration: none;
          list-style-type: none;
          margin: 0px;
          padding: 0px;
          .features__currency-list {
            display: none;
            flex-direction: column;
            justify-content: flex-start;
            text-decoration: none;
            list-style-type: none;
            padding: 0px;
            position: absolute;
          }
        }
      }
    }
  }

  .popular {
    @include mq($until: tablet) {
      display: none;
    }
    @include mq($from: tablet) {
      margin-top: 75px;
      display: flex;
      margin-left: 50px;
      max-width: 1280px;
      // max-height: 940px;
      position: relative;
      flex-flow: row wrap;
      // flex-flow: column wrap;
      // align-content: space-between;
      // flex-direction: row;
      // flex-wrap: wrap;
      justify-content: space-between;
      // align-items: center;
    }

    .popular__title {
      @include mq($from: tablet) {
        display: flex;
        width: 100%;
        max-width: 1280px;
        justify-content: center;
        align-items: center;
        position: relative;
        margin-bottom: 35px;
      }

      .popular__title-line {
        @include mq($from: tablet) {
          width: 98%;
          background-color: $line-color;
          border: 0px;
          height: 1px;
        }
      }

      .popular__title-text {
        @include mq($from: tablet) {
          width: 250px;
          background-color: $bg-color-body;
          font-family: $text-primary-family;
          font-weight: 600;
          font-size: 18px;
          text-align: center;
          color: $color-body;
          position: absolute;
        }
      }
    }

    .popular__item {
      @include mq($from: tablet) {
        width: 270px;
        height: 365px;
        margin: 20px 10px;
        // flex: 0 0 25%;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: space-between;
        border: 0px solid;
        border-radius: 8px;
      }

      .popular__image {
        @include mq($from: tablet) {
          width: 100%;
          border: 0px solid;
          border-radius: 8px;
          &-item {
            width: 100%;
            border: 0px solid;
            border-radius: 8px 8px 0px 0px;
          }
        }
      }

      .popular__discription {
        @include mq($from: tablet) {
          // font-family: $text-primary-family;
          // font-weight: 300;
          // font-size: 8px;
          // text-align: center;
          padding: 0px;
          display: flex;
          flex-flow: column;
          justify-content: space-between;
          align-items: center;
          text-align: center;
          padding-top: 10px;
          padding-bottom: 10px;
          width: 100%;
          height: 100%;
          background-color: #fff;
          border: 0px solid;
          border-radius: 0px 0px 8px 8px;
          &-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-flow: column;
            margin: 0px;
            font-weight: 400;
          }
          &-footer-buy {
            width: 200px;
            height: 38px;
            display: flex;
            justify-content: center;
            align-items: center;
            // border: 1px solid;
            // border-radius: 10px;
            &-price {
              height: 100%;
              color: $popular-item-bg;
              font-family: $text-primary-family;
              font-weight: 600;
              font-size: 14px;
              text-align: center;
              border: 1px solid;
              border-color: #e5e5e5;
              border-radius: 25px 0px 0px 25px;
              margin: 0px;
              display: flex;
              justify-content: center;
              align-items: center;
              padding: 1px 15px;

              // .fas {
              //   font-weight: 600;
              // }
            }
            &-button {
              height: 100%;
              background-color: $color-body;
              color: $popular-color;
              font-family: $text-primary-family;
              font-weight: 700;
              font-size: 14px;
              text-align: center;
              border: 1px solid;
              border-color: #e5e5e5;
              border-radius: 0px 25px 25px 0px;
              margin: 0px;
              display: flex;
              justify-content: center;
              align-items: center;
              padding: 1px 20px;
            }
          }
          &-footer {
            width: 200px;
          }
          &-price {
            color: $popular-color;
            font-family: $text-primary-family;
            font-weight: 400;
            font-size: 14px;
            text-align: center;
            .fas {
              font-weight: 600;
            }
          }
        }
      }

      .popular__filling {
        @include mq($from: tablet) {
          display: none;
          justify-content: space-evenly;
          align-items: center;
          position: absolute;
          width: 270px;
          height: 365px;
          background: linear-gradient(
            360deg,
            rgba(50, 199, 119, 0.9),
            rgba(66, 215, 169, 0.6)
          );
          // background-color: rgb(66,215,158,0.8);
          border: 0px solid;
          border-radius: 8px;
          .popular__filling-button {
            background-color: $color-body;
            width: 90px;
            height: 90px;
            border: 0px solid;
            border-radius: 50%;
          }
        }
      }
    }
    .popular__item-gradient {
      @include mq($from: tablet) {
        width: 270px;
        height: 365px;
        position: relative;

        // .popular__image{
        //   width: 270px;
        //   height: 365px;
        // }

        .popular__item-gradient-discription {
          font-family: $text-primary-family;
          font-weight: 300;
          font-size: 8px;
          text-align: center;
          padding: 0px;
          display: flex;
          // flex-flow: column;
          align-items: flex-end;
          // justify-content: space-between;
          // text-align: center;
          width: 100%;
          height: 100%;
          background: url(../img/popular/Layer_149.png);
          background-size: contain;

          border: 0px solid;
          border-radius: 8px;
          &-header {
            display: flex;
            flex-flow: column;
            z-index: 1;
            &-text1 {
              font-family: $text-primary-family;
              font-weight: 400;
              font-size: 16px;
              color: $color-body;
              width: 135px;
              height: 70px;
              text-align: left;
              margin-left: 30px;
              line-height: 1.6em;
            }
            &-text2 {
              font-family: $text-primary-family;
              font-weight: 400;
              font-size: 16px;
              color: $color-body;
              padding-top: 12px;
              width: 110px;
              margin-left: 20px;
              height: 70px;
              display: flex;
              align-items: baseline;
              justify-content: space-evenly;
            }
          }
          &-filling {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            position: absolute;
            top: 0px;
            width: 270px;
            height: 365px;
            background: linear-gradient(
              360deg,
              rgba(115, 101, 185, 0.7),
              rgba(240, 100, 140, 0.8)
            );
            // background-color: rgb(66,215,158,0.8);
            border: 0px solid;
            border-radius: 8px;
          }
        }
      }
    }

    .popular__button {
      @include mq($from: tablet) {
        position: absolute;
        top: 900px;
        left: 600px;
        width: 260px;
        height: 40px;
        border: 2px solid;
        border-radius: 25px;
        border-color: $color-body;
        display: flex;
        justify-content: space-evenly;
        padding-left: 55px;
        align-items: center;
        font-family: $text-primary-family;
        font-weight: 400;
        font-size: 16px;
        color: $color-body;
        background: $bg-color-body;
      }
    }
  }

  .banner-container {
    width: 100%;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 140px;
    .banner {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      // width: 1440px;
      // max-width: 1440px;
      max-height: 450px;
      .img-fluid1 {
        width: 100%;
      }
    }
  }

  .benefits {
    width: 100%;
    height: 200px;
    display: flex;
    background: #45413e;
    &__body {
      width: 100%;
      height: 200px;
      display: flex;
    }
    &__column {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      &-image {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 60px 30px;
      }
      &-about {
        height: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: flex-start;
        flex-flow: column;
        padding: 40px 30px;

        &-title {
          display: flex;
          justify-content: center;
          align-items: center;
          font-family: $text-primary-family;
          font-weight: 600;
          font-size: 16px;
          color: $color-body;
        }
        &-text {
          display: flex;
          justify-content: center;
          align-items: center;
          font-family: $text-primary-family;
          font-weight: 400;
          font-size: 12px;
          color: $color-body;
        }
      }
    }
  }

  .footer {
    width: 100%;
    background: $color-body;
    display: flex;
    justify-content: center;
    align-items: center;
    .footer__container {
      height: 345px;
      width: 100%;
      background: $color-body;
      display: flex;
      flex-flow: row;
      justify-content: center;
      align-items: center;
      .footer__contacts {
        height: 100%;
        width: 30%;
        display: flex;
        flex-flow: column;
        align-items: flex-start;
        justify-content: space-evenly;
        font-family: $text-primary-family;
        font-weight: 600;
        font-size: 13px;
        padding-left: 60px;
        .footer__copyright {
          width: 230px;
          display: flex;
          flex-flow: column;
          align-items: flex-start;
        }
        .footer__contact {
          color: $footer-text-color;
          width: 230px;
          display: flex;
          flex-flow: column;
          align-items: center;
          justify-content: center;
          .footer__contact-header {
            width: 100%;
            font-family: $text-primary-family;
            font-weight: 800;
            font-size: 14px;
          }
          .footer__contact-adress {
            width: 100%;
          }
          .footer__contact-email {
            width: 100%;
            margin: 20px 0px;
          }
          .footer__contact-phone {
            width: 100%;
          }
        }
      }
      .footer__categoriest {
        height: 100%;
        width: 40%;
        display: flex;
        flex-flow: column;
        align-items: flex-start;
        padding-right: 35px;
        .footer__categoriest-header {
          margin-top: 45px;
          width: 100%;
          font-family: $text-primary-family;
          font-weight: 800;
          font-size: 14px;
        }

        .footer__categoriest-content {
          margin-top: 25px;
          display: flex;
          flex-flow: row;
          justify-content: space-between;
          align-items: flex-start;
          width: 100%;
          .footer__categoriest-column {
            display: flex;
            flex-flow: column;
            align-items: flex-start;
            justify-content: space-evenly;
            line-height: 2.4em;
            font-family: $text-primary-family;
            font-weight: 600;
            font-size: 13px;
            color: $footer-link-color;
          }
        }
      }
      .footer__about {
        height: 100%;
        width: 15%;
        display: flex;
        flex-flow: column;
        align-items: flex-start;
        padding-left: 80px;
        .footer__about-header {
          margin-top: 45px;
          width: 100%;
          font-family: $text-primary-family;
          font-weight: 800;
          font-size: 14px;
        }
        .footer__about-content {
          margin-top: 25px;
          display: flex;
          flex-flow: row;
          justify-content: space-between;
          align-items: flex-start;
          width: 100%;
          .footer__about-column{
            display: flex;
            flex-flow: column;
            align-items: flex-start;
            justify-content: space-evenly;
            line-height: 2.4em;
            font-family: $text-primary-family;
            font-weight: 600;
            font-size: 13px;
            color: $footer-link-color;
          }
        }

      }
      .footer__socials {
        height: 100%;
        width: 15%;
        display: flex;
        padding-right: 60px;
        .footer__socials-column{
          width: 100%;
          display: flex;
          flex-flow: row;
          justify-content: space-around;
          align-items: flex-start;
          padding: 40px 0px;
          .footer__socials-icon{
            color:$footer-link-color ;
            .footer__facebook_icon {
              color: $popular-item-bg;
            }
          }
        }

      }
    }
  }
}


.footer__link {
  color: $footer-link-color;
  text-decoration: none;
}
