@import "free/mq";
@import "variables";

.product {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  .product-container {
    width: 100%;
    max-width: 1280px;
    height: 100%;
    max-height: 960px;
    &__block {
      display: flex;
      flex-flow: row;
      width: 100%;
      background: $color-body;
      .product-container__galery {
        width: 700px;
        height: 535px;
        background: rgb(223, 235, 122);
      }
      .product-container__description {
        display: flex;
        flex-flow: column;
        width: 450px;
        height: 535px;
        justify-content: space-evenly;
        &-header {
          width: 100%;
          color: #45413e;
          font-family: $text-primary-family;
          font-weight: 600;
          font-size: 40px;
        }
        &-buttons {
          width: 100%;
          display: flex;
          flex-flow: column;
          justify-content: space-evenly;
          height: 105px;

          .description-buttons__top {
            width: 155px;
            height: 40px;
            &-item {
              border: 2px solid;
              border-color: #e8e2d6;
              border-radius: 25px;
              background: $color-body;
              display: flex;
              flex-flow: row;
              justify-content: space-evenly;
              margin: 0px;
              padding: 0px;
              width: 100%;
              height: 100%;
              &-circle {
                width: 20px;
                height: 20px;
                border: 0px solid;
                border-radius: 50%;
                background: #585d61;
              }
              &-text {
                font-family: $text-primary-family;
                font-weight: 600;
                font-size: 14px;
                color: #45413e;
              }
              .fa{
                  color:#e8e2d6; ;
              }
            }
          }
          .description-buttons__bottom{
            width: 290px;
            height: 40px;
            display: flex;
            flex-flow: row;
            align-items: center;
            justify-content: space-between;
            &-item1{
              width: 110px;
              height: 40px;
              display: flex;
              align-items: center;
              justify-content: space-around;
              border: 2px solid;
              border-color: #e8e2d6;
              border-radius: 25px;
              background: $color-body;

            }
              
          }
        }
      }
    }
  }
}
