@import "free/mq";
@import "variables";

.product__body {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  background: #f1edea;
}

.forbiden__breadcrumbs-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  width: 100%;
  height: 100%;
  max-width: 1280px;
  padding: 40px 0px;
  background: #f1edea;

  .forbiden__breadcrumbs {
    background: #f1edea;
    .breadcrumb {
      background: #f1edea;
      font-size: 18px;
      font-weight: 500;
      margin-bottom: 2rem;
      @include mq($until: tablet) {
        margin-bottom: 0px;
      }
      .breadcrumb-item .active {
        color: #45413e;
        &::before {
          color: #45413e;
        }
      }
      .breadcrumb-item {
        .breadcrumb-link {
          color: #84bc22;
        }
      }
    }
  }

  .forbiden__title {
    width: 100%;
    display: flex;
    flex-flow: row;
    align-items: center;
    max-width: 1280px;
    margin-bottom: 50px;
    background: #f1edea;
    @include mq($until: tablet) {
      margin-bottom: 0px;
    }
    &-header {
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: $text-primary-family;
      font-size: 40px;
      font-weight: 900;
      background: #f1edea;
      color: #45413e;
      width: 1950px;
    }
    &-line {
      border-bottom: 1px solid;
      border-color: #e5e2df;
      width: 100%;
    }
  }
}

.product {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  .product-container {
    width: 100%;
    max-width: 1280px;
    height: 100%;
    // max-height: 960px;
    background: $color-body;
    &__block {
      display: flex;
      flex-flow: row;
      width: 100%;
      background: $color-body;
      ///////////////////////////////////////////////////////////////////////////////////////
      .product-container__galery {
        display: flex;
        // flex-flow: row;
        max-width: 700px;
        height: 535px;
        // max-width: 700px;
        // max-height: 535px;
        min-width: 0;
        justify-content: space-between;
        align-items: center;
        .my-foto-container {
          max-width: 580px;
          height: 530px;
        }
        .my-foto__block {
          display: flex;
          flex-flow: column;
          .my-foto {
            max-width: 75px;
            max-height: 75px;
          }
        }
        // background: rgb(223, 235, 122);
      }
      ///////////////////////////////////////////////////////////////////////////////////////
      .product-container__description {
        display: flex;
        flex-flow: column;
        width: 450px;
        height: 535px;
        justify-content: space-evenly;
        margin-left: 60px;
        &-header {
          width: 100%;
          color: #45413e;
          font-family: $text-primary-family;
          font-weight: 600;
          font-size: 40px;
        }
        &-buttons {
          width: 100%;
          display: flex;
          flex-flow: column;
          justify-content: space-evenly;
          height: 105px;

          .description-buttons__top {
            width: 155px;
            height: 40px;
            position: relative;
            &-item {
              border: 2px solid;
              border-color: #e8e2d6;
              border-radius: 25px;
              background: $color-body;
              display: flex;
              flex-flow: row;
              justify-content: space-evenly;
              margin: 0px;
              padding: 0px;
              width: 100%;
              height: 100%;
              &-circle {
                width: 20px;
                height: 20px;
                border: 0px solid;
                border-radius: 50%;
                background: #585d61;
              }
              &-text {
                font-family: $text-primary-family;
                font-weight: 600;
                font-size: 14px;
                color: #45413e;
              }
              .fa {
                color: #e8e2d6;
              }
            }
            .product-container__description-list {
              display: none;
              position: absolute;
              left: 0;
              flex-flow: column;
              width: 145px;
              padding: 0;
              margin-left: 0;
              z-index: 3;
              background: $color-body;
              border: 2px solid;
              border-color: #e8e2d6;
              border-radius: 25px;
              .product-container-element {
                display: flex;
                // justify-content: space-evenly;
                width: 100%;
                padding-left: 10px;
                a {
                  display: flex;
                  justify-content: space-evenly;
                  // width: 100%;
                  align-items: center;

                  .description-buttons__top-item-circle.aquamarine {
                    background: aquamarine;
                    margin: 6px;
                  }
                  .description-buttons__top-item-circle.chocolate {
                    background: chocolate;
                    margin: 6px;
                  }
                  .description-buttons__top-item-circle.darkviolet {
                    background: darkviolet;
                    margin: 6px;
                  }
                }
              }
            }
          }
          .description-buttons__top--active {
            .product-container__description-list {
              display: flex;
            }
          }

          .description-buttons__bottom {
            width: 320px;
            height: 40px;
            display: flex;
            flex-flow: row;
            align-items: center;
            justify-content: space-between;
            &-item1 {
              width: 110px;
              height: 40px;
              display: flex;
              align-items: center;
              justify-content: space-around;
              border: 2px solid;
              border-color: #e8e2d6;
              border-radius: 25px;
              background: $color-body;
            }

            &-item2 {
              width: 165px;
              height: 40px;
              display: flex;
              align-items: center;
              justify-content: space-around;
              border: 2px solid;
              border-color: #e8e2d6;
              border-radius: 25px;
              background: $carousel-color-sale;
              color: white;
            }
          }
        }
        &-text {
          display: flex;
          flex-flow: column;
          justify-content: space-between;
          width: 430px;
          height: 140px;
          .description-text__main {
            font-family: $text-primary-family;
            font-weight: 500;
            font-size: 14px;
          }
        }
        &-socials {
          display: flex;
          align-items: center;
          width: 230px;
          .description-socials__block {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .description-socials__text {
              font-family: $text-primary-family;
              font-weight: 600;
              font-size: 13px;
              color: #585d61;
            }
          }
        }
      }
    }

    .tabs {
      width: 100%;
      height: 340px;
      margin-top: 75px;
    }
    .nav-tabs {
      display: flex;
      justify-content: center;
    }
    .tab-content {
      width: 100%;
      height: 270px;
      background: #1f2530;
    }
    .nav-item {
      border: 0px solid;
      border-radius: 15px 15px 0px 0px;
    }
    .nav-link {
      font-family: $text-primary-family;
      font-weight: 500;
      font-size: 20px;
      font-weight: 600;
      color: #bdc3c7;
      padding: 20px 40px;
      border: 0px;
      // border-color: #1F2530;
    }
    .tab-pane {
      font-family: $text-primary-family;
      font-weight: 500;
      font-size: 15px;
      color: #fff;
      height: 100%;
      width: 100%;
      max-width: 1000px;
      padding: 70px;
    }

    .nav-link.active {
      color: #fff;
      .tab-pane:nth-child(1) {
      }
      background: #1f2530;
    }

    .tab-pane.tab_01.active {
      column-count: 2;
      column-gap: 8rem;
    }
    .tab-pane.tab_02.active {
      column-count: 1;
    }
    .tab-pane.tab_03.active {
      column-count: 3;
      column-gap: 2rem;
    }
  }
}

// .slider {
//   min-width: 0;
// }
// /* Слайдер */
// .slick-slider {
// }
// /* Слайдер запущен */
// .slick-slider.slick-initialized {
// }
// /* Слайдер с точками */
// .slick-slider.slick-dotted {
// }
// /* Ограничивающая оболочка */
// .slick-list {
//   overflow: hidden;
// }
// /* Лента слайдов */

// .slick-track {
//   display: flex;
//   flex-flow: column;
//   align-items: flex-start;
// }

// /* Слайд */
// .slick-slide {
// }
// /* Слайд активный (показывается) */
// .slick-slide.slick-active {
// }
// /* Слайд основной */
// .slick-slide.slick-current {
// }
// /* Слайд по центру */
// .slick-slide.slick-center {
// }
// /* Клонированный слайд */
// .slick-slide.slick-cloned {
// }
// /* Стрелка */
// .slick-arrow {
// }
// /* Стрелка влево */
// .slick-arrow.slick-prev {
// }
// /* Стрелка вправо */
// .slick-arrow.slick-next {
// }
// /* Стрелка не активная */
// .slick-arrow.slick-disabled {
// }
// /* Точки (булиты) */
// .slick-dots {
// }
// .slick-dots li {
// }
// /* Активная точка */
// .slick-dots li.slick-active {
// }
// /* Элемент точки */
// .slick-dots li button {
// }

// .slider {
//   .slick-list {
//     .slick-track {
//       display: flex;
//       flex-flow: column;
//       align-items: flex-start;
//     }
//   }
// }

// .sliderbig {
//   .slick-list {
//     .slick-track {
//       display: flex;
//       align-items: flex-start;
//     }
//   }
// }
