@import "free/mq";
@import "variables";

.product {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  .product-container {
    width: 100%;
    max-width: 1280px;
    height: 100%;
    max-height: 960px;
    background: $color-body;
    &__block {
      display: flex;
      flex-flow: row;
      width: 100%;
      background: $color-body;
      .product-container__galery {
        width: 700px;
        height: 535px;
        background: rgb(223, 235, 122);
      }
      .product-container__description {
        display: flex;
        flex-flow: column;
        width: 450px;
        height: 535px;
        justify-content: space-evenly;
        margin-left: 60px;
        &-header {
          width: 100%;
          color: #45413e;
          font-family: $text-primary-family;
          font-weight: 600;
          font-size: 40px;
        }
        &-buttons {
          width: 100%;
          display: flex;
          flex-flow: column;
          justify-content: space-evenly;
          height: 105px;

          .description-buttons__top {
            width: 155px;
            height: 40px;
            &-item {
              border: 2px solid;
              border-color: #e8e2d6;
              border-radius: 25px;
              background: $color-body;
              display: flex;
              flex-flow: row;
              justify-content: space-evenly;
              margin: 0px;
              padding: 0px;
              width: 100%;
              height: 100%;
              &-circle {
                width: 20px;
                height: 20px;
                border: 0px solid;
                border-radius: 50%;
                background: #585d61;
              }
              &-text {
                font-family: $text-primary-family;
                font-weight: 600;
                font-size: 14px;
                color: #45413e;
              }
              .fa {
                color: #e8e2d6;
              }
            }
          }
          .description-buttons__bottom {
            width: 320px;
            height: 40px;
            display: flex;
            flex-flow: row;
            align-items: center;
            justify-content: space-between;
            &-item1 {
              width: 110px;
              height: 40px;
              display: flex;
              align-items: center;
              justify-content: space-around;
              border: 2px solid;
              border-color: #e8e2d6;
              border-radius: 25px;
              background: $color-body;
            }

            &-item2 {
              width: 165px;
              height: 40px;
              display: flex;
              align-items: center;
              justify-content: space-around;
              border: 2px solid;
              border-color: #e8e2d6;
              border-radius: 25px;
              background: $carousel-color-sale;
              color: white;
            }
          }
        }
        &-text {
          display: flex;
          flex-flow: column;
          justify-content: space-between;
          width: 430px;
          height: 140px;
          .description-text__main {
            font-family: $text-primary-family;
            font-weight: 500;
            font-size: 14px;
          }
        }
        &-socials {
          display: flex;
          align-items: center;
          width: 230px;
          .description-socials__block {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .description-socials__text {
              font-family: $text-primary-family;
              font-weight: 600;
              font-size: 13px;
              color: #585d61;
            }
          }
        }
      }
    }
    .product-container__bookmark {
      width: 100%;
      max-width: 1280px;
      .nav.nav-tabs {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        .nav-item {
          width: 155px;
          background: $bg-color-body;
          .nav-link {
            color: $color-body;
            background: $bg-color-body;
          }
        }
      }
      .tab-content {
        .tab-pane.fade {
          display: none;
          display: flex;
          color: $color-body;
        }
        .tab-pane.fade.active.show{
          display: flex;
          background: $bg-color-body;

        }
      }
    }
  }
}
