@import "free/mq";
@import "variables";

.services__block {
    @include mq($until: tablet) {
        flex-flow: column;
    }
  display: flex;
  max-width: 1280px;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.services__column {
  width: 100%;
  max-width: 340px;
}

.services__column-text {
  font-family: $text-primary-family;
  font-weight: 600;
  font-size: 14px;
  color: #45413e;

}



.description-buttons__top {
  margin: 25px;
  max-width: 270px;
  width: 100%;
  height: 40px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &-item {
    border: 2px solid;
    border-color: #e8e2d6;
    border-radius: 25px;
    background: $color-body;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    max-width: 200px;
    &-circle {
      width: 20px;
      height: 20px;
      border: 0px solid;
      border-radius: 50%;
      background: #585d61;
    }
    &-text {
      font-family: $text-primary-family;
      font-weight: 600;
      font-size: 14px;
      color: #45413e;
    }
    .fa {
      color: #e8e2d6;
    }
  }
  .product-container__description-list {
    @include mq($until: tablet) {
      left: 30px;
    }
    display: none;
    position: absolute;
    left: 70px;
    top: 40px;
    flex-flow: column;
    width: 100%;
    max-width: 200px;
    padding: 5px;
    margin-left: 0;
    z-index: 3;
    background: #fff;
    border: 2px solid;
    border-color: #e8e2d6;
    border-radius: 25px;
    .product-container-element {
      display: flex;
      // justify-content: space-evenly;
      width: 100%;
      padding-left: 10px;
      a {
        display: flex;
        justify-content: space-evenly;
        // width: 100%;
        align-items: center;

        .description-buttons__top-item-circle.aquamarine {
          background: aquamarine;
          margin: 6px;
        }
        .description-buttons__top-item-circle.chocolate {
          background: chocolate;
          margin: 6px;
        }
        .description-buttons__top-item-circle.darkviolet {
          background: darkviolet;
          margin: 6px;
        }
      }
    }
  }
}

.description-buttons__top--active {
    .product-container__description-list {
      display: flex;
    }
  }

.featured-slide.services{
    @include mq($until: tablet) {
        display: none;
    }
}

.popular.services{
    @include mq($until: tablet) {
        display: flex;
        flex-flow: column;
    }

}