$color-body: #fff;
$bg-color-body: #262a32;
$nav-border-color: #84bc22;
$text-color: #000;
$text-primary-family:'Lato', sans-serif;
$facebook-color: #3C5986;
$line-color: #3c4047;
$popular-color: #011847;
$popular-item-bg: #23c46e;
$footer-text-color:#333333;
$footer-link-color:#b2b2b2;


$carousel-color-sale: #84bc22;
$pre-footer-color: #45413e;
$popular-hover-color: #3dd09c;
$popular-opaciti-color: #c6648a;