$color-body: #fff;
$bg-color-body: #262a32;
$nav-border-color: #84bc22;
$text-color: #000;
$text-primary-family:'Lato', sans-serif;


$carousel-color-sale: #84bc22;
$pre-footer-color: #45413e;
$popular-hover-color: #3dd09c;
$popular-opaciti-color: #c6648a;