.product__body {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  background: #f1edea;
}

.forbiden__breadcrumbs-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  width: 100%;
  height: 100%;
  max-width: 1280px;
  padding: 40px 0px;
  background: #f1edea;
}
.forbiden__breadcrumbs-wrapper .forbiden__breadcrumbs {
  background: #f1edea;
}
.forbiden__breadcrumbs-wrapper .forbiden__breadcrumbs .breadcrumb {
  background: #f1edea;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 2rem;
}
.forbiden__breadcrumbs-wrapper .forbiden__breadcrumbs .breadcrumb .breadcrumb-item .active {
  color: #45413e;
}
.forbiden__breadcrumbs-wrapper .forbiden__breadcrumbs .breadcrumb .breadcrumb-item .active::before {
  color: #45413e;
}
.forbiden__breadcrumbs-wrapper .forbiden__breadcrumbs .breadcrumb .breadcrumb-item .breadcrumb-link {
  color: #84bc22;
}
.forbiden__breadcrumbs-wrapper .forbiden__title {
  width: 100%;
  max-width: 1280px;
  position: relative;
  margin-bottom: 50px;
  background: #f1edea;
}
.forbiden__breadcrumbs-wrapper .forbiden__title-header {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -25px;
  left: 315px;
  font-family: "Lato", sans-serif;
  font-size: 46px;
  font-weight: 900;
  background: #f1edea;
  color: #45413e;
  z-index: 2;
  width: 740px;
}

.product {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.product .product-container {
  width: 100%;
  max-width: 1280px;
  height: 100%;
  background: #fff;
}
.product .product-container__block {
  display: flex;
  flex-flow: row;
  width: 100%;
  background: #fff;
}
.product .product-container__block .product-container__galery {
  width: 700px;
  height: 535px;
  background: #dfeb7a;
}
.product .product-container__block .product-container__description {
  display: flex;
  flex-flow: column;
  width: 450px;
  height: 535px;
  justify-content: space-evenly;
  margin-left: 60px;
}
.product .product-container__block .product-container__description-header {
  width: 100%;
  color: #45413e;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-size: 40px;
}
.product .product-container__block .product-container__description-buttons {
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  height: 105px;
}
.product .product-container__block .product-container__description-buttons .description-buttons__top {
  width: 155px;
  height: 40px;
}
.product .product-container__block .product-container__description-buttons .description-buttons__top-item {
  border: 2px solid;
  border-color: #e8e2d6;
  border-radius: 25px;
  background: #fff;
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
}
.product .product-container__block .product-container__description-buttons .description-buttons__top-item-circle {
  width: 20px;
  height: 20px;
  border: 0px solid;
  border-radius: 50%;
  background: #585d61;
}
.product .product-container__block .product-container__description-buttons .description-buttons__top-item-text {
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #45413e;
}
.product .product-container__block .product-container__description-buttons .description-buttons__top-item .fa {
  color: #e8e2d6;
}
.product .product-container__block .product-container__description-buttons .description-buttons__bottom {
  width: 320px;
  height: 40px;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
}
.product .product-container__block .product-container__description-buttons .description-buttons__bottom-item1 {
  width: 110px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 2px solid;
  border-color: #e8e2d6;
  border-radius: 25px;
  background: #fff;
}
.product .product-container__block .product-container__description-buttons .description-buttons__bottom-item2 {
  width: 165px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 2px solid;
  border-color: #e8e2d6;
  border-radius: 25px;
  background: #84bc22;
  color: white;
}
.product .product-container__block .product-container__description-text {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  width: 430px;
  height: 140px;
}
.product .product-container__block .product-container__description-text .description-text__main {
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: 14px;
}
.product .product-container__block .product-container__description-socials {
  display: flex;
  align-items: center;
  width: 230px;
}
.product .product-container__block .product-container__description-socials .description-socials__block {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.product .product-container__block .product-container__description-socials .description-socials__block .description-socials__text {
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-size: 13px;
  color: #585d61;
}
.product .product-container .tabs {
  width: 100%;
  height: 340px;
  margin-top: 75px;
}
.product .product-container .nav-tabs {
  display: flex;
  justify-content: center;
}
.product .product-container .tab-content {
  width: 100%;
  height: 270px;
  background: #1f2530;
}
.product .product-container .nav-item {
  border: 0px solid;
  border-radius: 15px 15px 0px 0px;
}
.product .product-container .nav-link {
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: 20px;
  font-weight: 600;
  color: #bdc3c7;
  padding: 20px 40px;
  border: 0px;
}
.product .product-container .tab-pane {
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: 15px;
  color: #fff;
  height: 100%;
  width: 100%;
  max-width: 1000px;
  padding: 70px;
}
.product .product-container .nav-link.active {
  color: #fff;
  background: #1f2530;
}
.product .product-container .tab-pane.tab_01.active {
  column-count: 2;
  column-gap: 8rem;
}
.product .product-container .tab-pane.tab_02.active {
  column-count: 1;
}
.product .product-container .tab-pane.tab_03.active {
  column-count: 3;
  column-gap: 2rem;
}

/*# sourceMappingURL=product.css.map */
